/* Property for border and padding */
* {
    box-sizing: border-box;
}
/* Marvel Comics characters image in background */
html, body    {
    background: url(../images/Marvel-Heroes-Spider-Man-Avengers-Defenders-X-Men.jpg);
    background-repeat: no-repeat;
    background-size: cover 100vh;
    background-color: black;
}
/* Header Marvel Logo */
img {
    float: left;
    margin-top: 15px;
    /* margin-left: 20px; */
}
/* Buttons for topic names */
.character    {
    background-color: red;
    padding: 2vh;
    font-family: 'Vast Shadow', cursive;    
    text-align: center;
    margin: 2vh;
    color: white;
    border: white solid 2px;
}
/* Inner div for Marvel form for adding a character */
#marvel {
    float: right;
    color: white;
    margin: 5vw;
    background: black;
    font-family: 'Cinzel', serif;
    padding: 2vh 2vw;
    padding-bottom: 3vh;
    font-weight: 3vw;

}
/* Submit button */
#add-character  {
    background: red;
    color: white;   
    font-family: 'Vast Shadow', cursive;
    margin-top: 2vh;
}
/* Gifs */
.marvel-gif   {
    width: 20%;
    /* padding-left: 20px; */
}

/* Header */
.header {
    text-align: center;
    color: white;
    padding-top: 20px;
    background: black;
    border: 1px solid white;
    font-family: 'Cinzel', serif;
    padding-right: 140px;
}
/* Marvel character input */
#marvel-input   {
    text-transform: capitalize;
}